* {
    box-sizing: border-box;
}
body, html {
    margin: 0;
    padding: 0;
    font-family: League Spartan;
}
main {
    height: 100vh;
    background-color: beige;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr) 2px repeat(4, 1fr);
    padding: 30px;
    column-gap: 50px;
    row-gap: 20px;
}
.foto{
    grid-column: 1 / 2;
    grid-row: 1 / 5;
    justify-self: end;
    
}
.name {
    grid-column: 2 / 6;
    grid-row: 1 / 2;
    font-size: 30px;
    font-weight: 700;
}
.name span{
    color:red;
    font-size: 20px;
}
.bio {
    grid-column: 2 / 6;
    grid-row: 2 / 3;
    text-align: justify;
    text-justify: inter-word;
}

.date{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}
.place{
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}
.language{
    grid-column: 4 / 6;
    grid-row: 3 / 4;
}
.date p,.place p, .language p {
    font-weight: 700;
}
.date span,.place span, .language span {
    color: grey;
    font-weight: 600;
    font-size: 12px;
}
.icons {
    grid-column: 2 / 6 ;
    grid-row: 4 / 5; 
}
i {
color: grey;
}
.empty {
    grid-column: 1 / 6;
    grid-row: 5 / 6;
}
.numbers p {
    font-weight: 700;
}
.numbers span {
    color: grey;
    font-weight: 600;
    font-size: 12px;
}
.work {
    color: grey;
    font-weight: 600;
    font-size: 14px;
    justify-self: end;
}
.specialitys {
    grid-column: 1 / 2;
    grid-row: 8 / 10;
    color: grey;
    font-weight: 600;
    font-size: 14px;
    justify-self: end;
}
.wordpress {
     grid-column: 2 / 4;
    grid-row: 8 / 9;
}
.joomla {
    grid-column: 4 / 6;
    grid-row: 8 / 9;
}
.drupal {
    grid-column: 2 / 4;
    grid-row: 9 / 10;
}
.shopify {
    grid-column: 4 / 6;
    grid-row: 9 / 10;
}
.wordpress span, .joomla span, .drupal span, .shopify span {
    font-size: 14px;
    text-align: justify;
    text-justify: inter-word;
}
@media (max-width: 678px){
    main {
        column-gap: 12px;
        padding: 10px;
    }
}
@media (min-width: 520px){
    .small-foto {
        display: none;
    }
}
@media (max-width: 520px){
    main {
    grid-template-rows: 3fr repeat(3, 1fr) 2px repeat(4, 1fr);
    }
    .big-foto {
        display: none;
    }
    .name{

    }
}